.container{
    width: 100%;
    height: 100%;
    display: flex;
}

.horizontal{
    flex-direction: row;
}

.vertical{
    flex-direction: column;
}

.contentContainer{
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.codeViewContainer{
    display: flex;
}

.codeContainer{
    flex-grow: 1;
}

.viewContainer{
    flex-grow: 1;
}