.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.contentContainer{
  width: 100%;
  height: 92%;
  display: flex;
}

.error{
  text-align: center;
  color: red;
}